.type{

    background-color: rgb(236, 220, 234);
    width:98.5vw;
    height: auto;
    
    
}

.text-center .btn
{

    background-color: blueviolet;
}
.type p {
background-color: WHITE;
color:blueviolet;
   
}

.form-group .form-control {
    margin-bottom: -9px !important;
  }
.type h2{
   
    color: white;
}
.custom-bg-color {
    background-color: blueviolet;
  }

  
  

